[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.7.3"
numpy = "==1.23.2"
pandas = "==2.1.0"
jupyterlab = "==4.0.6"
jupyterlab-widgets = "==3.0.9"
streamlit = "1.29.0"

[dev-packages]

[requires]
python_version = "3.9"
